*{
    box-sizing: border-box;
}

body {
    background-color: #5a5a92;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    height: 100%;
}

/*********** TITLE ***********/

header {
    text-align: center;
}

h1 {
    border: 0px solid green;
    margin-bottom: 0;
}
p {
    border: 0px solid red;
    margin-top: 12px;
}

/*********** FORM ***********/

form {
    background-color: #282745;
}

fieldset {
    border: none;
}

#survey-form .flex {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px 0 10px 0;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

span {
    font-size: 13px;
}

/*********** SELECT SECTION ***********/

#dropdown, #feature {
    width: 100%;
}

select {
    margin-top: 10px;
}

/*********** SECTION-BOX ***********/
.section-box {
    line-height: 1.5rem;
}

.section-box label {
    display: block;
    line-height: 1.6rem;
}

.section-box input[type="checkbox"] + label,
.section-box input[type="radio"] + label {
    display: inline;
    padding: 10px;
}

label.option {
    border: 3px solid red;
}
/*********** COMMENTS SECTION ***********/

.comments label {
    display: inline-block;
}

textarea {
    width: 100%;
    padding: 25px;
}

button {
    color: white;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    background: #37af65;
    border: none;
    border-radius: 2px;
}
 