*{
    box-sizing: border-box;
}

body {
    background-color: #5a5a92;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    height: 100%;
}

/*********** TITLE ***********/

header {
    text-align: center;
}

h1 {
    border: 0px solid green;
    margin-bottom: 0;
}
p {
    border: 0px solid red;
    margin-top: 12px;
}

/*********** FORM ***********/

form {
    background-color: #282745;
}

fieldset {
    border: none;
}

.survey-form .flex {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px 0 10px 0;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/*********** SELECT SECTION ***********/

#dropdown, #feature {
    display: block;
    width: 100%;
}

select {
    margin-top: 10px;
}

/*********** SECTION-BOX ***********/

.section-box label {
    display: block;
}

.section-box input[type="checkbox"] + label,
.section-box input[type="radio"] + label {
    display: inline;
    width: 100%;
}

.section-box label {
    padding: 20px;
}

/*********** COMMENTS SECTION ***********/

.comments label {
    display: block;
}

textarea {
    width: 100%;
    padding: 25px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 2px;
}

/********* MEDIA QUERIES 768PX *********/

@media (min-width: 768px) {
    
    .survey-form {
        flex-direction: row;
    }

    .section-box label {
        flex-basis: 25%;
    }

    .section-box input[type="checkbox"],
    .section-box input[type="radio"] {
        flex-basis: 75%;
    }
} 